# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/venv
/test.py
/.env
/embeddings
/test*
/secrets*
/.streamlit
/.streamlit/secrets.toml
/.streamlit/credentials.toml
/appTest.py
/Dockerfile
/PDF_QA_v3.iml
/text_versions
/app_old.py
